$blue: #2980B9;

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: $blue;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

.container {
  @include border-radius(7px);
}

#map-container {
  @include border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
}

#quiz-box {
  @extend .container;
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 300px;
  padding: 10px;
  background-color: white;
}

.light-box {
  position: absolute;
  z-index: 3;
  padding: 10px;
  width: 500px;
  height: 300px;
  background-color: white;
}

.light-box-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}
