html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
}

#world-map {
  width: 100%;
  height: 100%;
}

#lightBox {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: white;
}
