$white: #FFFFFF;
$blue: #2980B9;
$dark-blue: #2C3E50;
$orange: #F39C12;
$red: #E74C3C;

$map-padding: 5px;

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  background-color: $blue;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $dark-blue;
}

h1 {
  font-size: 2.6em;
  font-weight: 100;
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}

.pure-button-primary {
  font-weight: 100;
}

.container {
  @include border-radius(5px);
  background-color: $white;
}

#map-container {
  @include border-box;
  padding: $map-padding;
  width: 100%;
  height: 100%;
}

#menu, #quiz-box {
  @extend .container;
}

#menu {
  width: 550px;
  padding: 10px 20px 20px 20px;
  overflow: hidden;

  form {
    margin-left: -100px;

    #start-quiz {
      margin-left: 2px;
    }
  }

  #globe {
    position: absolute;
    bottom: -65px;
    right: -55px;
    color: $blue;
    font-size: 260px;
    opacity: 0.4;
  }
}

#quiz-box {
  position: absolute;
  z-index: 3;
  top: 10px;
  right: 10px;
  width: 300px;
  padding: 10px;
  border: 2px solid $blue;

  .icon-reorder {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
    color: $blue;
    cursor: pointer;
  }
}

#progress-bar {
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 0;
  height: $map-padding;
  background-color: $orange;
}

.light-box {
  position: absolute;
  z-index: 3;
}

.light-box-bg {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-blue;
  opacity: 0.6;
}
